MONGO_HOST=172.18.170.203
MONGO_PORT=27017
MONGO_DATABASE=cia_dashboard
SECRET_KEY=supersecretkey_change_in_production
SESSION_KEY=session_secret_change_in_production
UPLOAD_PATH=./upload
TOTP_SECRET=4L7NVTH6QT37TWRTGHDFH62H5FNUR66C
